*.o
*.log
*.elf
*.bin
*.dat
*.hex

.vim/
aapg/
asm_old/
doc/src/photo_2021-03-23_19-15-20.jpg
pCPU.tar.gz
pCPU/tests/build.sh
pCPU/tests/rv32ui/
pCPU/tests/rv64ui/
pCPU/vivado/
pseudOS/bad.txt
pseudOS/fs/fat32_test/
pseudOS/fs/test.img
pseudOS/fs/udisk_fat.txt
pseudOS/fs/udisk_root_first.txt
pseudOS/good.txt
pseudOS/linker_sdboot_basic.ld
pseudOS/sdboot.txt
pseudOS/sdboot_basic.c
pseudOS/uartboot.sh
ustcfg/

